%nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  .container
    = link_to 'Messenger', root_path, class: "navbar-brand h1 my-0"
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Chatroom', chatroom_path, class: "nav-link active"
        %li.nav-item
          = link_to 'Messages', root_path, class: "nav-link"
        %li.nav-item
          = link_to 'Blog', root_path, class: "nav-link"
